<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Two Players Game.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>101954261E3B8DF000A8F199</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1019543A1E3B8DF000A8F199</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>101954451E3B8DF100A8F199</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
